Data Manipulation using Pandas library functions:

head()  info()  tail()  shape() isnull()  to_string()  loc[] iloc[]


info() columns  nlargest() nsmallest()  astype() where()   


value_counts() groupby() unique()  cut() qcut()  merge()


dtype() squeeze()  isnull().sum()  series()  T.iloc()  


isin([])  sample() nsample()   corrwith() cov()

In [7]:
import pandas as pd

In [8]:
import numpy as np

In [18]:
df=pd.read_csv("C:/Users/Hricha/Downloads/wine.csv")

In [19]:
type(df)

pandas.core.frame.DataFrame

In [20]:
pd.set_option("display.max.columns", None)

In [21]:
df.head()

,Wine,Alcohol,Malic.acid,Ash,Acl,Mg,Phenols,Flavanoids,Nonflavanoid.phenols,Proanth,Color.int,Hue,OD,Proline
0,1,14.23,1.71,2.43,15.6,127,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065
1,1,13.20,1.78,2.14,11.2,100,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050
2,1,13.16,2.36,2.67,18.6,101,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185
3,1,14.37,1.95,2.50,16.8,113,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480
4,1,13.24,2.59,2.87,21.0,118,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735

In [23]:
df.shape

(178, 14)

In [93]:
df.isnull().sum()

Wine                    0
Alcohol                 0
Malic.acid              0
Ash                     0
Acl                     0
Mg                      0
Phenols                 0
Flavanoids              0
Nonflavanoid.phenols    0
Proanth                 0
Color.int               0
Hue                     0
OD                      0
Proline                 0
dtype: int64

In [94]:
df.dropna()

,Wine,Alcohol,Malic.acid,Ash,Acl,Mg,Phenols,Flavanoids,Nonflavanoid.phenols,Proanth,Color.int,Hue,OD,Proline
0,1,14.23,1.71,2.43,15.6,127.0,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065
1,1,13.20,1.78,2.14,11.2,100.0,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050
2,1,13.16,2.36,2.67,18.6,101.0,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185
3,1,14.37,1.95,2.50,16.8,113.0,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480
4,1,13.24,2.59,2.87,21.0,118.0,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
173,3,13.71,5.65,2.45,20.5,95.0,1.68,0.61,0.52,1.06,7.70,0.64,1.74,740
174,3,13.40,3.91,2.48,23.0,102.0,1.80,0.75,0.43,1.41,7.30,0.70,1.56,750
175,3,13.27,4.28,2.26,20.0,120.0,1.59,0.69,0.43,1.35,10.20,0.59,1.56,835
176,3,13.17,2.59,2.37,20.0,120.0,1.65,0.68,0.53,1.46,9.30,0.60,1.62,840
177,3,14.13,4.10,2.74,24.5,96.0,2.05,0.76,0.56,1.35,9.20,0.61,1.60,560

In [26]:
print(df.to_string())

     Wine  Alcohol  Malic.acid   Ash   Acl   Mg  Phenols  Flavanoids  Nonflavanoid.phenols  Proanth  Color.int    Hue    OD  Proline
0       1    14.23        1.71  2.43  15.6  127     2.80        3.06                  0.28     2.29   5.640000  1.040  3.92     1065
1       1    13.20        1.78  2.14  11.2  100     2.65        2.76                  0.26     1.28   4.380000  1.050  3.40     1050
2       1    13.16        2.36  2.67  18.6  101     2.80        3.24                  0.30     2.81   5.680000  1.030  3.17     1185
3       1    14.37        1.95  2.50  16.8  113     3.85        3.49                  0.24     2.18   7.800000  0.860  3.45     1480
4       1    13.24        2.59  2.87  21.0  118     2.80        2.69                  0.39     1.82   4.320000  1.040  2.93      735
5       1    14.20        1.76  2.45  15.2  112     3.27        3.39                  0.34     1.97   6.750000  1.050  2.85     1450
6       1    14.39        1.87  2.45  14.6   96     2.50        2.52                  0.30     1.98   5.250000  1.020  3.58     1290
7       1    14.06        2.15  2.61  17.6  121     2.60        2.51                  0.31     1.25   5.050000  1.060  3.58     1295
8       1    14.83        1.64  2.17  14.0   97     2.80        2.98                  0.29     1.98   5.200000  1.080  2.85     1045
9       1    13.86        1.35  2.27  16.0   98     2.98        3.15                  0.22     1.85   7.220000  1.010  3.55     1045
10      1    14.10        2.16  2.30  18.0  105     2.95        3.32                  0.22     2.38   5.750000  1.250  3.17     1510
11      1    14.12        1.48  2.32  16.8   95     2.20        2.43                  0.26     1.57   5.000000  1.170  2.82     1280
12      1    13.75        1.73  2.41  16.0   89     2.60        2.76                  0.29     1.81   5.600000  1.150  2.90     1320
13      1    14.75        1.73  2.39  11.4   91     3.10        3.69                  0.43     2.81   5.400000  1.250  2.73     1150
14      1    14.38        1.87  2.38  12.0  102     3.30        3.64                  0.29     2.96   7.500000  1.200  3.00     1547
15      1    13.63        1.81  2.70  17.2  112     2.85        2.91                  0.30     1.46   7.300000  1.280  2.88     1310
16      1    14.30        1.92  2.72  20.0  120     2.80        3.14                  0.33     1.97   6.200000  1.070  2.65     1280
17      1    13.83        1.57  2.62  20.0  115     2.95        3.40                  0.40     1.72   6.600000  1.130  2.57     1130
18      1    14.19        1.59  2.48  16.5  108     3.30        3.93                  0.32     1.86   8.700000  1.230  2.82     1680
19      1    13.64        3.10  2.56  15.2  116     2.70        3.03                  0.17     1.66   5.100000  0.960  3.36      845
20      1    14.06        1.63  2.28  16.0  126     3.00        3.17                  0.24     2.10   5.650000  1.090  3.71      780
21      1    12.93        3.80  2.65  18.6  102     2.41        2.41                  0.25     1.98   4.500000  1.030  3.52      770
22      1    13.71        1.86  2.36  16.6  101     2.61        2.88                  0.27     1.69   3.800000  1.110  4.00     1035
23      1    12.85        1.60  2.52  17.8   95     2.48        2.37                  0.26     1.46   3.930000  1.090  3.63     1015
24      1    13.50        1.81  2.61  20.0   96     2.53        2.61                  0.28     1.66   3.520000  1.120  3.82      845
25      1    13.05        2.05  3.22  25.0  124     2.63        2.68                  0.47     1.92   3.580000  1.130  3.20      830
26      1    13.39        1.77  2.62  16.1   93     2.85        2.94                  0.34     1.45   4.800000  0.920  3.22     1195
27      1    13.30        1.72  2.14  17.0   94     2.40        2.19                  0.27     1.35   3.950000  1.020  2.77     1285
28      1    13.87        1.90  2.80  19.4  107     2.95        2.97                  0.37     1.76   4.500000  1.250  3.40      915
29      1    14.02        1.68  2.21  16.0   96     2.65        2.33                  0.26     1.98   4.700000  1.040  3.59     1035
30      1    13.73        1.50  2.70  22.5  101     3.00        3.25                  0.29     2.38   5.700000  1.190  2.71     1285
31      1    13.58        1.66  2.36  19.1  106     2.86        3.19                  0.22     1.95   6.900000  1.090  2.88     1515
32      1    13.68        1.83  2.36  17.2  104     2.42        2.69                  0.42     1.97   3.840000  1.230  2.87      990
33      1    13.76        1.53  2.70  19.5  132     2.95        2.74                  0.50     1.35   5.400000  1.250  3.00     1235
34      1    13.51        1.80  2.65  19.0  110     2.35        2.53                  0.29     1.54   4.200000  1.100  2.87     1095
35      1    13.48        1.81  2.41  20.5  100     2.70        2.98                  0.26     1.86   5.100000  1.040  3.47      920
36      1    13.28        1.64  2.84  15.5  110     2.60        2.68                  0.34     1.36   4.600000  1.090  2.78      880
37      1    13.05        1.65  2.55  18.0   98     2.45        2.43                  0.29     1.44   4.250000  1.120  2.51     1105
38      1    13.07        1.50  2.10  15.5   98     2.40        2.64                  0.28     1.37   3.700000  1.180  2.69     1020
39      1    14.22        3.99  2.51  13.2  128     3.00        3.04                  0.20     2.08   5.100000  0.890  3.53      760
40      1    13.56        1.71  2.31  16.2  117     3.15        3.29                  0.34     2.34   6.130000  0.950  3.38      795
41      1    13.41        3.84  2.12  18.8   90     2.45        2.68                  0.27     1.48   4.280000  0.910  3.00     1035
42      1    13.88        1.89  2.59  15.0  101     3.25        3.56                  0.17     1.70   5.430000  0.880  3.56     1095
43      1    13.24        3.98  2.29  17.5  103     2.64        2.63                  0.32     1.66   4.360000  0.820  3.00      680
44      1    13.05        1.77  2.10  17.0  107     3.00        3.00                  0.28     2.03   5.040000  0.880  3.35      885
45      1    14.21        4.04  2.44  18.9  111     2.85        2.65                  0.30     1.25   5.240000  0.870  3.33     1080
46      1    14.38        3.59  2.28  16.0  102     3.25        3.17                  0.27     2.19   4.900000  1.040  3.44     1065
47      1    13.90        1.68  2.12  16.0  101     3.10        3.39                  0.21     2.14   6.100000  0.910  3.33      985
48      1    14.10        2.02  2.40  18.8  103     2.75        2.92                  0.32     2.38   6.200000  1.070  2.75     1060
49      1    13.94        1.73  2.27  17.4  108     2.88        3.54                  0.32     2.08   8.900000  1.120  3.10     1260
50      1    13.05        1.73  2.04  12.4   92     2.72        3.27                  0.17     2.91   7.200000  1.120  2.91     1150
51      1    13.83        1.65  2.60  17.2   94     2.45        2.99                  0.22     2.29   5.600000  1.240  3.37     1265
52      1    13.82        1.75  2.42  14.0  111     3.88        3.74                  0.32     1.87   7.050000  1.010  3.26     1190
53      1    13.77        1.90  2.68  17.1  115     3.00        2.79                  0.39     1.68   6.300000  1.130  2.93     1375
54      1    13.74        1.67  2.25  16.4  118     2.60        2.90                  0.21     1.62   5.850000  0.920  3.20     1060
55      1    13.56        1.73  2.46  20.5  116     2.96        2.78                  0.20     2.45   6.250000  0.980  3.03     1120
56      1    14.22        1.70  2.30  16.3  118     3.20        3.00                  0.26     2.03   6.380000  0.940  3.31      970
57      1    13.29        1.97  2.68  16.8  102     3.00        3.23                  0.31     1.66   6.000000  1.070  2.84     1270
58      1    13.72        1.43  2.50  16.7  108     3.40        3.67                  0.19     2.04   6.800000  0.890  2.87     1285
59      2    12.37        0.94  1.36  10.6   88     1.98        0.57                  0.28     0.42   1.950000  1.050  1.82      520
60      2    12.33        1.10  2.28  16.0  101     2.05        1.09                  0.63     0.41   3.270000  1.250  1.67      680
61      2    12.64        1.36  2.02  16.8  100     2.02        1.41                  0.53     0.62   5.750000  0.980  1.59      450
62      2    13.67        1.25  1.92  18.0   94     2.10        1.79                  0.32     0.73   3.800000  1.230  2.46      630
63      2    12.37        1.13  2.16  19.0   87     3.50        3.10                  0.19     1.87   4.450000  1.220  2.87      420
64      2    12.17        1.45  2.53  19.0  104     1.89        1.75                  0.45     1.03   2.950000  1.450  2.23      355
65      2    12.37        1.21  2.56  18.1   98     2.42        2.65                  0.37     2.08   4.600000  1.190  2.30      678
66      2    13.11        1.01  1.70  15.0   78     2.98        3.18                  0.26     2.28   5.300000  1.120  3.18      502
67      2    12.37        1.17  1.92  19.6   78     2.11        2.00                  0.27     1.04   4.680000  1.120  3.48      510
68      2    13.34        0.94  2.36  17.0  110     2.53        1.30                  0.55     0.42   3.170000  1.020  1.93      750
69      2    12.21        1.19  1.75  16.8  151     1.85        1.28                  0.14     2.50   2.850000  1.280  3.07      718
70      2    12.29        1.61  2.21  20.4  103     1.10        1.02                  0.37     1.46   3.050000  0.906  1.82      870
71      2    13.86        1.51  2.67  25.0   86     2.95        2.86                  0.21     1.87   3.380000  1.360  3.16      410
72      2    13.49        1.66  2.24  24.0   87     1.88        1.84                  0.27     1.03   3.740000  0.980  2.78      472
73      2    12.99        1.67  2.60  30.0  139     3.30        2.89                  0.21     1.96   3.350000  1.310  3.50      985
74      2    11.96        1.09  2.30  21.0  101     3.38        2.14                  0.13     1.65   3.210000  0.990  3.13      886
75      2    11.66        1.88  1.92  16.0   97     1.61        1.57                  0.34     1.15   3.800000  1.230  2.14      428
76      2    13.03        0.90  1.71  16.0   86     1.95        2.03                  0.24     1.46   4.600000  1.190  2.48      392
77      2    11.84        2.89  2.23  18.0  112     1.72        1.32                  0.43     0.95   2.650000  0.960  2.52      500
78      2    12.33        0.99  1.95  14.8  136     1.90        1.85                  0.35     2.76   3.400000  1.060  2.31      750
79      2    12.70        3.87  2.40  23.0  101     2.83        2.55                  0.43     1.95   2.570000  1.190  3.13      463
80      2    12.00        0.92  2.00  19.0   86     2.42        2.26                  0.30     1.43   2.500000  1.380  3.12      278
81      2    12.72        1.81  2.20  18.8   86     2.20        2.53                  0.26     1.77   3.900000  1.160  3.14      714
82      2    12.08        1.13  2.51  24.0   78     2.00        1.58                  0.40     1.40   2.200000  1.310  2.72      630
83      2    13.05        3.86  2.32  22.5   85     1.65        1.59                  0.61     1.62   4.800000  0.840  2.01      515
84      2    11.84        0.89  2.58  18.0   94     2.20        2.21                  0.22     2.35   3.050000  0.790  3.08      520
85      2    12.67        0.98  2.24  18.0   99     2.20        1.94                  0.30     1.46   2.620000  1.230  3.16      450
86      2    12.16        1.61  2.31  22.8   90     1.78        1.69                  0.43     1.56   2.450000  1.330  2.26      495
87      2    11.65        1.67  2.62  26.0   88     1.92        1.61                  0.40     1.34   2.600000  1.360  3.21      562
88      2    11.64        2.06  2.46  21.6   84     1.95        1.69                  0.48     1.35   2.800000  1.000  2.75      680
89      2    12.08        1.33  2.30  23.6   70     2.20        1.59                  0.42     1.38   1.740000  1.070  3.21      625
90      2    12.08        1.83  2.32  18.5   81     1.60        1.50                  0.52     1.64   2.400000  1.080  2.27      480
91      2    12.00        1.51  2.42  22.0   86     1.45        1.25                  0.50     1.63   3.600000  1.050  2.65      450
92      2    12.69        1.53  2.26  20.7   80     1.38        1.46                  0.58     1.62   3.050000  0.960  2.06      495
93      2    12.29        2.83  2.22  18.0   88     2.45        2.25                  0.25     1.99   2.150000  1.150  3.30      290
94      2    11.62        1.99  2.28  18.0   98     3.02        2.26                  0.17     1.35   3.250000  1.160  2.96      345
95      2    12.47        1.52  2.20  19.0  162     2.50        2.27                  0.32     3.28   2.600000  1.160  2.63      937
96      2    11.81        2.12  2.74  21.5  134     1.60        0.99                  0.14     1.56   2.500000  0.950  2.26      625
97      2    12.29        1.41  1.98  16.0   85     2.55        2.50                  0.29     1.77   2.900000  1.230  2.74      428
98      2    12.37        1.07  2.10  18.5   88     3.52        3.75                  0.24     1.95   4.500000  1.040  2.77      660
99      2    12.29        3.17  2.21  18.0   88     2.85        2.99                  0.45     2.81   2.300000  1.420  2.83      406
100     2    12.08        2.08  1.70  17.5   97     2.23        2.17                  0.26     1.40   3.300000  1.270  2.96      710
101     2    12.60        1.34  1.90  18.5   88     1.45        1.36                  0.29     1.35   2.450000  1.040  2.77      562
102     2    12.34        2.45  2.46  21.0   98     2.56        2.11                  0.34     1.31   2.800000  0.800  3.38      438
103     2    11.82        1.72  1.88  19.5   86     2.50        1.64                  0.37     1.42   2.060000  0.940  2.44      415
104     2    12.51        1.73  1.98  20.5   85     2.20        1.92                  0.32     1.48   2.940000  1.040  3.57      672
105     2    12.42        2.55  2.27  22.0   90     1.68        1.84                  0.66     1.42   2.700000  0.860  3.30      315
106     2    12.25        1.73  2.12  19.0   80     1.65        2.03                  0.37     1.63   3.400000  1.000  3.17      510
107     2    12.72        1.75  2.28  22.5   84     1.38        1.76                  0.48     1.63   3.300000  0.880  2.42      488
108     2    12.22        1.29  1.94  19.0   92     2.36        2.04                  0.39     2.08   2.700000  0.860  3.02      312
109     2    11.61        1.35  2.70  20.0   94     2.74        2.92                  0.29     2.49   2.650000  0.960  3.26      680
110     2    11.46        3.74  1.82  19.5  107     3.18        2.58                  0.24     3.58   2.900000  0.750  2.81      562
111     2    12.52        2.43  2.17  21.0   88     2.55        2.27                  0.26     1.22   2.000000  0.900  2.78      325
112     2    11.76        2.68  2.92  20.0  103     1.75        2.03                  0.60     1.05   3.800000  1.230  2.50      607
113     2    11.41        0.74  2.50  21.0   88     2.48        2.01                  0.42     1.44   3.080000  1.100  2.31      434
114     2    12.08        1.39  2.50  22.5   84     2.56        2.29                  0.43     1.04   2.900000  0.930  3.19      385
115     2    11.03        1.51  2.20  21.5   85     2.46        2.17                  0.52     2.01   1.900000  1.710  2.87      407
116     2    11.82        1.47  1.99  20.8   86     1.98        1.60                  0.30     1.53   1.950000  0.950  3.33      495
117     2    12.42        1.61  2.19  22.5  108     2.00        2.09                  0.34     1.61   2.060000  1.060  2.96      345
118     2    12.77        3.43  1.98  16.0   80     1.63        1.25                  0.43     0.83   3.400000  0.700  2.12      372
119     2    12.00        3.43  2.00  19.0   87     2.00        1.64                  0.37     1.87   1.280000  0.930  3.05      564
120     2    11.45        2.40  2.42  20.0   96     2.90        2.79                  0.32     1.83   3.250000  0.800  3.39      625
121     2    11.56        2.05  3.23  28.5  119     3.18        5.08                  0.47     1.87   6.000000  0.930  3.69      465
122     2    12.42        4.43  2.73  26.5  102     2.20        2.13                  0.43     1.71   2.080000  0.920  3.12      365
123     2    13.05        5.80  2.13  21.5   86     2.62        2.65                  0.30     2.01   2.600000  0.730  3.10      380
124     2    11.87        4.31  2.39  21.0   82     2.86        3.03                  0.21     2.91   2.800000  0.750  3.64      380
125     2    12.07        2.16  2.17  21.0   85     2.60        2.65                  0.37     1.35   2.760000  0.860  3.28      378
126     2    12.43        1.53  2.29  21.5   86     2.74        3.15                  0.39     1.77   3.940000  0.690  2.84      352
127     2    11.79        2.13  2.78  28.5   92     2.13        2.24                  0.58     1.76   3.000000  0.970  2.44      466
128     2    12.37        1.63  2.30  24.5   88     2.22        2.45                  0.40     1.90   2.120000  0.890  2.78      342
129     2    12.04        4.30  2.38  22.0   80     2.10        1.75                  0.42     1.35   2.600000  0.790  2.57      580
130     3    12.86        1.35  2.32  18.0  122     1.51        1.25                  0.21     0.94   4.100000  0.760  1.29      630
131     3    12.88        2.99  2.40  20.0  104     1.30        1.22                  0.24     0.83   5.400000  0.740  1.42      530
132     3    12.81        2.31  2.40  24.0   98     1.15        1.09                  0.27     0.83   5.700000  0.660  1.36      560
133     3    12.70        3.55  2.36  21.5  106     1.70        1.20                  0.17     0.84   5.000000  0.780  1.29      600
134     3    12.51        1.24  2.25  17.5   85     2.00        0.58                  0.60     1.25   5.450000  0.750  1.51      650
135     3    12.60        2.46  2.20  18.5   94     1.62        0.66                  0.63     0.94   7.100000  0.730  1.58      695
136     3    12.25        4.72  2.54  21.0   89     1.38        0.47                  0.53     0.80   3.850000  0.750  1.27      720
137     3    12.53        5.51  2.64  25.0   96     1.79        0.60                  0.63     1.10   5.000000  0.820  1.69      515
138     3    13.49        3.59  2.19  19.5   88     1.62        0.48                  0.58     0.88   5.700000  0.810  1.82      580
139     3    12.84        2.96  2.61  24.0  101     2.32        0.60                  0.53     0.81   4.920000  0.890  2.15      590
140     3    12.93        2.81  2.70  21.0   96     1.54        0.50                  0.53     0.75   4.600000  0.770  2.31      600
141     3    13.36        2.56  2.35  20.0   89     1.40        0.50                  0.37     0.64   5.600000  0.700  2.47      780
142     3    13.52        3.17  2.72  23.5   97     1.55        0.52                  0.50     0.55   4.350000  0.890  2.06      520
143     3    13.62        4.95  2.35  20.0   92     2.00        0.80                  0.47     1.02   4.400000  0.910  2.05      550
144     3    12.25        3.88  2.20  18.5  112     1.38        0.78                  0.29     1.14   8.210000  0.650  2.00      855
145     3    13.16        3.57  2.15  21.0  102     1.50        0.55                  0.43     1.30   4.000000  0.600  1.68      830
146     3    13.88        5.04  2.23  20.0   80     0.98        0.34                  0.40     0.68   4.900000  0.580  1.33      415
147     3    12.87        4.61  2.48  21.5   86     1.70        0.65                  0.47     0.86   7.650000  0.540  1.86      625
148     3    13.32        3.24  2.38  21.5   92     1.93        0.76                  0.45     1.25   8.420000  0.550  1.62      650

In [29]:
"""Locate ROWS """
print(df.loc[0])

Wine                       1.00
Alcohol                   14.23
Malic.acid                 1.71
Ash                        2.43
Acl                       15.60
Mg                       127.00
Phenols                    2.80
Flavanoids                 3.06
Nonflavanoid.phenols       0.28
Proanth                    2.29
Color.int                  5.64
Hue                        1.04
OD                         3.92
Proline                 1065.00
Name: 0, dtype: float64

In [30]:
print(df.loc[[0,1]])

   Wine  Alcohol  Malic.acid   Ash   Acl   Mg  Phenols  Flavanoids  \
0     1    14.23        1.71  2.43  15.6  127     2.80        3.06
1     1    13.20        1.78  2.14  11.2  100     2.65        2.76

   Nonflavanoid.phenols  Proanth  Color.int   Hue    OD  Proline
0                  0.28     2.29       5.64  1.04  3.92     1065
1                  0.26     1.28       4.38  1.05  3.40     1050

In [33]:
df["Wine"]

0      1
1      1
2      1
3      1
4      1
      ..
173    3
174    3
175    3
176    3
177    3
Name: Wine, Length: 178, dtype: int64

In [36]:
df[["Wine","Alcohol","Malic.acid"]]

     Wine  Alcohol  Malic.acid
0       1    14.23        1.71
1       1    13.20        1.78
2       1    13.16        2.36
3       1    14.37        1.95
4       1    13.24        2.59
..    ...      ...         ...
173     3    13.71        5.65
174     3    13.40        3.91
175     3    13.27        4.28
176     3    13.17        2.59
177     3    14.13        4.10

[178 rows x 3 columns]

In [37]:
df.info

<bound method DataFrame.info of      Wine  Alcohol  Malic.acid   Ash   Acl   Mg  Phenols  Flavanoids  \
0       1    14.23        1.71  2.43  15.6  127     2.80        3.06
1       1    13.20        1.78  2.14  11.2  100     2.65        2.76
2       1    13.16        2.36  2.67  18.6  101     2.80        3.24
3       1    14.37        1.95  2.50  16.8  113     3.85        3.49
4       1    13.24        2.59  2.87  21.0  118     2.80        2.69
..    ...      ...         ...   ...   ...  ...      ...         ...
173     3    13.71        5.65  2.45  20.5   95     1.68        0.61
174     3    13.40        3.91  2.48  23.0  102     1.80        0.75
175     3    13.27        4.28  2.26  20.0  120     1.59        0.69
176     3    13.17        2.59  2.37  20.0  120     1.65        0.68
177     3    14.13        4.10  2.74  24.5   96     2.05        0.76

     Nonflavanoid.phenols  Proanth  Color.int   Hue    OD  Proline
0                    0.28     2.29       5.64  1.04  3.92     1065
1                    0.26     1.28       4.38  1.05  3.40     1050
2                    0.30     2.81       5.68  1.03  3.17     1185
3                    0.24     2.18       7.80  0.86  3.45     1480
4                    0.39     1.82       4.32  1.04  2.93      735
..                    ...      ...        ...   ...   ...      ...
173                  0.52     1.06       7.70  0.64  1.74      740
174                  0.43     1.41       7.30  0.70  1.56      750
175                  0.43     1.35      10.20  0.59  1.56      835
176                  0.53     1.46       9.30  0.60  1.62      840
177                  0.56     1.35       9.20  0.61  1.60      560

[178 rows x 14 columns]>

In [38]:
df.columns

Index(['Wine', 'Alcohol', 'Malic.acid', 'Ash', 'Acl', 'Mg', 'Phenols',
       'Flavanoids', 'Nonflavanoid.phenols', 'Proanth', 'Color.int', 'Hue',
       'OD', 'Proline'],
      dtype='object')

In [41]:
df.sort_values('Alcohol')

,Wine,Alcohol,Malic.acid,Ash,Acl,Mg,Phenols,Flavanoids,Nonflavanoid.phenols,Proanth,Color.int,Hue,OD,Proline
115,2,11.03,1.51,2.20,21.5,85,2.46,2.17,0.52,2.01,1.90,1.71,2.87,407
113,2,11.41,0.74,2.50,21.0,88,2.48,2.01,0.42,1.44,3.08,1.10,2.31,434
120,2,11.45,2.40,2.42,20.0,96,2.90,2.79,0.32,1.83,3.25,0.80,3.39,625
110,2,11.46,3.74,1.82,19.5,107,3.18,2.58,0.24,3.58,2.90,0.75,2.81,562
121,2,11.56,2.05,3.23,28.5,119,3.18,5.08,0.47,1.87,6.00,0.93,3.69,465
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
46,1,14.38,3.59,2.28,16.0,102,3.25,3.17,0.27,2.19,4.90,1.04,3.44,1065
14,1,14.38,1.87,2.38,12.0,102,3.30,3.64,0.29,2.96,7.50,1.20,3.00,1547
6,1,14.39,1.87,2.45,14.6,96,2.50,2.52,0.30,1.98,5.25,1.02,3.58,1290
13,1,14.75,1.73,2.39,11.4,91,3.10,3.69,0.43,2.81,5.40,1.25,2.73,1150
8,1,14.83,1.64,2.17,14.0,97,2.80,2.98,0.29,1.98,5.20,1.08,2.85,1045

In [42]:
df.describe()

,Wine,Alcohol,Malic.acid,Ash,Acl,Mg,Phenols,Flavanoids,Nonflavanoid.phenols,Proanth,Color.int,Hue,OD,Proline
count,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000
mean,1.938202,13.000618,2.336348,2.366517,19.494944,99.741573,2.295112,2.029270,0.361854,1.590899,5.058090,0.957449,2.611685,746.893258
std,0.775035,0.811827,1.117146,0.274344,3.339564,14.282484,0.625851,0.998859,0.124453,0.572359,2.318286,0.228572,0.709990,314.907474
min,1.000000,11.030000,0.740000,1.360000,10.600000,70.000000,0.980000,0.340000,0.130000,0.410000,1.280000,0.480000,1.270000,278.000000
25%,1.000000,12.362500,1.602500,2.210000,17.200000,88.000000,1.742500,1.205000,0.270000,1.250000,3.220000,0.782500,1.937500,500.500000
50%,2.000000,13.050000,1.865000,2.360000,19.500000,98.000000,2.355000,2.135000,0.340000,1.555000,4.690000,0.965000,2.780000,673.500000
75%,3.000000,13.677500,3.082500,2.557500,21.500000,107.000000,2.800000,2.875000,0.437500,1.950000,6.200000,1.120000,3.170000,985.000000
max,3.000000,14.830000,5.800000,3.230000,30.000000,162.000000,3.880000,5.080000,0.660000,3.580000,13.000000,1.710000,4.000000,1680.000000

In [43]:
df.sample()

,Wine,Alcohol,Malic.acid,Ash,Acl,Mg,Phenols,Flavanoids,Nonflavanoid.phenols,Proanth,Color.int,Hue,OD,Proline
164,3,13.78,2.76,2.3,22.0,90,1.35,0.68,0.41,1.03,9.58,0.7,1.68,615

In [44]:
df.sample(10)

,Wine,Alcohol,Malic.acid,Ash,Acl,Mg,Phenols,Flavanoids,Nonflavanoid.phenols,Proanth,Color.int,Hue,OD,Proline
172,3,14.16,2.51,2.48,20.0,91,1.68,0.70,0.44,1.24,9.70,0.62,1.71,660
86,2,12.16,1.61,2.31,22.8,90,1.78,1.69,0.43,1.56,2.45,1.33,2.26,495
16,1,14.30,1.92,2.72,20.0,120,2.80,3.14,0.33,1.97,6.20,1.07,2.65,1280
150,3,13.50,3.12,2.62,24.0,123,1.40,1.57,0.22,1.25,8.60,0.59,1.30,500
8,1,14.83,1.64,2.17,14.0,97,2.80,2.98,0.29,1.98,5.20,1.08,2.85,1045
38,1,13.07,1.50,2.10,15.5,98,2.40,2.64,0.28,1.37,3.70,1.18,2.69,1020
112,2,11.76,2.68,2.92,20.0,103,1.75,2.03,0.60,1.05,3.80,1.23,2.50,607
162,3,12.85,3.27,2.58,22.0,106,1.65,0.60,0.60,0.96,5.58,0.87,2.11,570
132,3,12.81,2.31,2.40,24.0,98,1.15,1.09,0.27,0.83,5.70,0.66,1.36,560
51,1,13.83,1.65,2.60,17.2,94,2.45,2.99,0.22,2.29,5.60,1.24,3.37,1265

In [46]:
df.nsmallest(10,"Mg")

,Wine,Alcohol,Malic.acid,Ash,Acl,Mg,Phenols,Flavanoids,Nonflavanoid.phenols,Proanth,Color.int,Hue,OD,Proline
89,2,12.08,1.33,2.30,23.6,70,2.20,1.59,0.42,1.38,1.74,1.07,3.21,625
66,2,13.11,1.01,1.70,15.0,78,2.98,3.18,0.26,2.28,5.30,1.12,3.18,502
67,2,12.37,1.17,1.92,19.6,78,2.11,2.00,0.27,1.04,4.68,1.12,3.48,510
82,2,12.08,1.13,2.51,24.0,78,2.00,1.58,0.40,1.40,2.20,1.31,2.72,630
92,2,12.69,1.53,2.26,20.7,80,1.38,1.46,0.58,1.62,3.05,0.96,2.06,495
106,2,12.25,1.73,2.12,19.0,80,1.65,2.03,0.37,1.63,3.40,1.00,3.17,510
118,2,12.77,3.43,1.98,16.0,80,1.63,1.25,0.43,0.83,3.40,0.70,2.12,372
129,2,12.04,4.30,2.38,22.0,80,2.10,1.75,0.42,1.35,2.60,0.79,2.57,580
146,3,13.88,5.04,2.23,20.0,80,0.98,0.34,0.40,0.68,4.90,0.58,1.33,415
90,2,12.08,1.83,2.32,18.5,81,1.60,1.50,0.52,1.64,2.40,1.08,2.27,480

In [47]:
df.nlargest(10,"Mg")

,Wine,Alcohol,Malic.acid,Ash,Acl,Mg,Phenols,Flavanoids,Nonflavanoid.phenols,Proanth,Color.int,Hue,OD,Proline
95,2,12.47,1.52,2.20,19.0,162,2.50,2.27,0.32,3.28,2.60,1.16,2.63,937
69,2,12.21,1.19,1.75,16.8,151,1.85,1.28,0.14,2.50,2.85,1.28,3.07,718
73,2,12.99,1.67,2.60,30.0,139,3.30,2.89,0.21,1.96,3.35,1.31,3.50,985
78,2,12.33,0.99,1.95,14.8,136,1.90,1.85,0.35,2.76,3.40,1.06,2.31,750
96,2,11.81,2.12,2.74,21.5,134,1.60,0.99,0.14,1.56,2.50,0.95,2.26,625
33,1,13.76,1.53,2.70,19.5,132,2.95,2.74,0.50,1.35,5.40,1.25,3.00,1235
39,1,14.22,3.99,2.51,13.2,128,3.00,3.04,0.20,2.08,5.10,0.89,3.53,760
0,1,14.23,1.71,2.43,15.6,127,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065
20,1,14.06,1.63,2.28,16.0,126,3.00,3.17,0.24,2.10,5.65,1.09,3.71,780
25,1,13.05,2.05,3.22,25.0,124,2.63,2.68,0.47,1.92,3.58,1.13,3.20,830

In [53]:
df1=df.iloc[:,0:5].copy()

In [54]:
df1

     Wine  Alcohol  Malic.acid   Ash   Acl
0       1    14.23        1.71  2.43  15.6
1       1    13.20        1.78  2.14  11.2
2       1    13.16        2.36  2.67  18.6
3       1    14.37        1.95  2.50  16.8
4       1    13.24        2.59  2.87  21.0
..    ...      ...         ...   ...   ...
173     3    13.71        5.65  2.45  20.5
174     3    13.40        3.91  2.48  23.0
175     3    13.27        4.28  2.26  20.0
176     3    13.17        2.59  2.37  20.0
177     3    14.13        4.10  2.74  24.5

[178 rows x 5 columns]

In [55]:
df2=df.iloc[:,5:10].copy()

In [56]:
df2

      Mg  Phenols  Flavanoids  Nonflavanoid.phenols  Proanth
0    127     2.80        3.06                  0.28     2.29
1    100     2.65        2.76                  0.26     1.28
2    101     2.80        3.24                  0.30     2.81
3    113     3.85        3.49                  0.24     2.18
4    118     2.80        2.69                  0.39     1.82
..   ...      ...         ...                   ...      ...
173   95     1.68        0.61                  0.52     1.06
174  102     1.80        0.75                  0.43     1.41
175  120     1.59        0.69                  0.43     1.35
176  120     1.65        0.68                  0.53     1.46
177   96     2.05        0.76                  0.56     1.35

[178 rows x 5 columns]

In [63]:
condition=df["Wine"]=='1'
df.where(condition,'condition_False')

,Wine,Alcohol,Malic.acid,Ash,Acl,Mg,Phenols,Flavanoids,Nonflavanoid.phenols,Proanth,Color.int,Hue,OD,Proline
0,condition_False,condition_False,condition_False,condition_False,condition_False,condition_False,condition_False,condition_False,condition_False,condition_False,condition_False,condition_False,condition_False,condition_False
1,condition_False,condition_False,condition_False,condition_False,condition_False,condition_False,condition_False,condition_False,condition_False,condition_False,condition_False,condition_False,condition_False,condition_False
2,condition_False,condition_False,condition_False,condition_False,condition_False,condition_False,condition_False,condition_False,condition_False,condition_False,condition_False,condition_False,condition_False,condition_False
3,condition_False,condition_False,condition_False,condition_False,condition_False,condition_False,condition_False,condition_False,condition_False,condition_False,condition_False,condition_False,condition_False,condition_False
4,condition_False,condition_False,condition_False,condition_False,condition_False,condition_False,condition_False,condition_False,condition_False,condition_False,condition_False,condition_False,condition_False,condition_False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
173,condition_False,condition_False,condition_False,condition_False,condition_False,condition_False,condition_False,condition_False,condition_False,condition_False,condition_False,condition_False,condition_False,condition_False
174,condition_False,condition_False,condition_False,condition_False,condition_False,condition_False,condition_False,condition_False,condition_False,condition_False,condition_False,condition_False,condition_False,condition_False
175,condition_False,condition_False,condition_False,condition_False,condition_False,condition_False,condition_False,condition_False,condition_False,condition_False,condition_False,condition_False,condition_False,condition_False
176,condition_False,condition_False,condition_False,condition_False,condition_False,condition_False,condition_False,condition_False,condition_False,condition_False,condition_False,condition_False,condition_False,condition_False
177,condition_False,condition_False,condition_False,condition_False,condition_False,condition_False,condition_False,condition_False,condition_False,condition_False,condition_False,condition_False,condition_False,condition_False

In [64]:
df[df["Acl"]>20]

,Wine,Alcohol,Malic.acid,Ash,Acl,Mg,Phenols,Flavanoids,Nonflavanoid.phenols,Proanth,Color.int,Hue,OD,Proline
4,1,13.24,2.59,2.87,21.0,118,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735
25,1,13.05,2.05,3.22,25.0,124,2.63,2.68,0.47,1.92,3.58,1.13,3.20,830
30,1,13.73,1.50,2.70,22.5,101,3.00,3.25,0.29,2.38,5.70,1.19,2.71,1285
35,1,13.48,1.81,2.41,20.5,100,2.70,2.98,0.26,1.86,5.10,1.04,3.47,920
55,1,13.56,1.73,2.46,20.5,116,2.96,2.78,0.20,2.45,6.25,0.98,3.03,1120
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
168,3,13.58,2.58,2.69,24.5,105,1.55,0.84,0.39,1.54,8.66,0.74,1.80,750
169,3,13.40,4.60,2.86,25.0,112,1.98,0.96,0.27,1.11,8.50,0.67,1.92,630
173,3,13.71,5.65,2.45,20.5,95,1.68,0.61,0.52,1.06,7.70,0.64,1.74,740
174,3,13.40,3.91,2.48,23.0,102,1.80,0.75,0.43,1.41,7.30,0.70,1.56,750
177,3,14.13,4.10,2.74,24.5,96,2.05,0.76,0.56,1.35,9.20,0.61,1.60,560

In [66]:
df["Mg"]=df["Mg"].astype("float")

In [78]:
df

,Wine,Alcohol,Malic.acid,Ash,Acl,Mg,Phenols,Flavanoids,Nonflavanoid.phenols,Proanth,Color.int,Hue,OD,Proline
0,1,14.23,1.71,2.43,15.6,127.0,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065
1,1,13.20,1.78,2.14,11.2,100.0,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050
2,1,13.16,2.36,2.67,18.6,101.0,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185
3,1,14.37,1.95,2.50,16.8,113.0,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480
4,1,13.24,2.59,2.87,21.0,118.0,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
173,3,13.71,5.65,2.45,20.5,95.0,1.68,0.61,0.52,1.06,7.70,0.64,1.74,740
174,3,13.40,3.91,2.48,23.0,102.0,1.80,0.75,0.43,1.41,7.30,0.70,1.56,750
175,3,13.27,4.28,2.26,20.0,120.0,1.59,0.69,0.43,1.35,10.20,0.59,1.56,835
176,3,13.17,2.59,2.37,20.0,120.0,1.65,0.68,0.53,1.46,9.30,0.60,1.62,840
177,3,14.13,4.10,2.74,24.5,96.0,2.05,0.76,0.56,1.35,9.20,0.61,1.60,560

In [71]:
df.columns.str.upper()

Index(['WINE', 'ALCOHOL', 'MALIC.ACID', 'ASH', 'ACL', 'MG', 'PHENOLS',
       'FLAVANOIDS', 'NONFLAVANOID.PHENOLS', 'PROANTH', 'COLOR.INT', 'HUE',
       'OD', 'PROLINE'],
      dtype='object')

In [76]:
df["Mg"].value_counts()

88.0     13
86.0     11
98.0      9
101.0     9
96.0      8
102.0     7
94.0      6
85.0      6
112.0     6
97.0      5
92.0      5
80.0      5
103.0     5
89.0      5
90.0      4
108.0     4
107.0     4
106.0     4
87.0      3
120.0     3
95.0      3
78.0      3
111.0     3
84.0      3
118.0     3
104.0     3
100.0     3
110.0     3
116.0     3
93.0      2
115.0     2
91.0      2
105.0     2
113.0     2
162.0     1
134.0     1
119.0     1
82.0      1
122.0     1
81.0      1
70.0      1
127.0     1
132.0     1
99.0      1
136.0     1
139.0     1
151.0     1
117.0     1
128.0     1
124.0     1
126.0     1
121.0     1
123.0     1
Name: Mg, dtype: int64

In [77]:
df["Mg"].value_counts().sum()

178

In [79]:
df.iloc[:,0]

0      1
1      1
2      1
3      1
4      1
      ..
173    3
174    3
175    3
176    3
177    3
Name: Wine, Length: 178, dtype: int64

In [81]:
Alc=df.iloc[:,1]

In [83]:
Alc                                              #series of Alc

0      14.23
1      13.20
2      13.16
3      14.37
4      13.24
       ...
173    13.71
174    13.40
175    13.27
176    13.17
177    14.13
Name: Alcohol, Length: 178, dtype: float64

In [85]:
Alc.dtype()

TypeError: 'numpy.dtype[float64]' object is not callable

In [91]:
serAlcohol = pd.Series(df['Alcohol'], index=df.index)

In [92]:
serAlcohol

0      14.23
1      13.20
2      13.16
3      14.37
4      13.24
       ...
173    13.71
174    13.40
175    13.27
176    13.17
177    14.13
Name: Alcohol, Length: 178, dtype: float64

In [95]:
1/df

,Wine,Alcohol,Malic.acid,Ash,Acl,Mg,Phenols,Flavanoids,Nonflavanoid.phenols,Proanth,Color.int,Hue,OD,Proline
0,1.000000,0.070274,0.584795,0.411523,0.064103,0.007874,0.357143,0.326797,3.571429,0.436681,0.177305,0.961538,0.255102,0.000939
1,1.000000,0.075758,0.561798,0.467290,0.089286,0.010000,0.377358,0.362319,3.846154,0.781250,0.228311,0.952381,0.294118,0.000952
2,1.000000,0.075988,0.423729,0.374532,0.053763,0.009901,0.357143,0.308642,3.333333,0.355872,0.176056,0.970874,0.315457,0.000844
3,1.000000,0.069589,0.512821,0.400000,0.059524,0.008850,0.259740,0.286533,4.166667,0.458716,0.128205,1.162791,0.289855,0.000676
4,1.000000,0.075529,0.386100,0.348432,0.047619,0.008475,0.357143,0.371747,2.564103,0.549451,0.231481,0.961538,0.341297,0.001361
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
173,0.333333,0.072939,0.176991,0.408163,0.048780,0.010526,0.595238,1.639344,1.923077,0.943396,0.129870,1.562500,0.574713,0.001351
174,0.333333,0.074627,0.255754,0.403226,0.043478,0.009804,0.555556,1.333333,2.325581,0.709220,0.136986,1.428571,0.641026,0.001333
175,0.333333,0.075358,0.233645,0.442478,0.050000,0.008333,0.628931,1.449275,2.325581,0.740741,0.098039,1.694915,0.641026,0.001198
176,0.333333,0.075930,0.386100,0.421941,0.050000,0.008333,0.606061,1.470588,1.886792,0.684932,0.107527,1.666667,0.617284,0.001190
177,0.333333,0.070771,0.243902,0.364964,0.040816,0.010417,0.487805,1.315789,1.785714,0.740741,0.108696,1.639344,0.625000,0.001786


# SORTING AND RANKING

In [102]:
df["Alcohol"].sort_values(ascending=False)

8      14.83
13     14.75
6      14.39
46     14.38
14     14.38
       ...
121    11.56
110    11.46
120    11.45
113    11.41
115    11.03
Name: Alcohol, Length: 178, dtype: float64

In [103]:
df["Wine"].sort_values(ascending=False)

177    3
153    3
151    3
150    3
149    3
      ..
35     1
34     1
33     1
32     1
0      1
Name: Wine, Length: 178, dtype: int64

df.sort_values(["Alcohol","Wine"])

# Summarizing and Computing Descriptive statistics

In [107]:
df.sum()                         #sum of columns

Wine                       345.000000
Alcohol                   2314.110000
Malic.acid                 415.870000
Ash                        421.240000
Acl                       3470.100000
Mg                       17754.000000
Phenols                    408.530000
Flavanoids                 361.210000
Nonflavanoid.phenols        64.410000
Proanth                    283.180000
Color.int                  900.339999
Hue                        170.426000
OD                         464.880000
Proline                 132947.000000
dtype: float64

In [109]:
df.sum(axis=1)                     #sum of rows

0      1246.00
1      1195.10
2      1342.82
3      1651.49
4       909.69
        ...
173     894.26
174     911.74
175    1014.22
176    1016.97
177     720.60
Length: 178, dtype: float64

In [114]:
df.sum(axis="columns")

0      1246.00
1      1195.10
2      1342.82
3      1651.49
4       909.69
        ...
173     894.26
174     911.74
175    1014.22
176    1016.97
177     720.60
Length: 178, dtype: float64

In [115]:
df.mean()

Wine                      1.938202
Alcohol                  13.000618
Malic.acid                2.336348
Ash                       2.366517
Acl                      19.494944
Mg                       99.741573
Phenols                   2.295112
Flavanoids                2.029270
Nonflavanoid.phenols      0.361854
Proanth                   1.590899
Color.int                 5.058090
Hue                       0.957449
OD                        2.611685
Proline                 746.893258
dtype: float64

In [117]:
df.mean(axis="columns")

0       89.000000
1       85.364286
2       95.915714
3      117.963571
4       64.977857
          ...
173     63.875714
174     65.124286
175     72.444286
176     72.640714
177     51.471429
Length: 178, dtype: float64

In [118]:
df.idxmax()

Wine                    130
Alcohol                   8
Malic.acid              123
Ash                     121
Acl                      73
Mg                       95
Phenols                  52
Flavanoids              121
Nonflavanoid.phenols    105
Proanth                 110
Color.int               158
Hue                     115
OD                       22
Proline                  18
dtype: int64

In [119]:
df.idxmin()

Wine                      0
Alcohol                 115
Malic.acid              113
Ash                      59
Acl                      59
Mg                       89
Phenols                 146
Flavanoids              146
Nonflavanoid.phenols     74
Proanth                  60
Color.int               119
Hue                     151
OD                      136
Proline                  80
dtype: int64

In [121]:
df.idxmin(axis="columns")

0      Nonflavanoid.phenols
1      Nonflavanoid.phenols
2      Nonflavanoid.phenols
3      Nonflavanoid.phenols
4      Nonflavanoid.phenols
               ...
173    Nonflavanoid.phenols
174    Nonflavanoid.phenols
175    Nonflavanoid.phenols
176    Nonflavanoid.phenols
177    Nonflavanoid.phenols
Length: 178, dtype: object

In [122]:
df.idxmax(axis="columns")

0      Proline
1      Proline
2      Proline
3      Proline
4      Proline
        ...
173    Proline
174    Proline
175    Proline
176    Proline
177    Proline
Length: 178, dtype: object

In [123]:
df.cumsum()

,Wine,Alcohol,Malic.acid,Ash,Acl,Mg,Phenols,Flavanoids,Nonflavanoid.phenols,Proanth,Color.int,Hue,OD,Proline
0,1,14.23,1.71,2.43,15.6,127.0,2.80,3.06,0.28,2.29,5.640000,1.040,3.92,1065
1,2,27.43,3.49,4.57,26.8,227.0,5.45,5.82,0.54,3.57,10.020000,2.090,7.32,2115
2,3,40.59,5.85,7.24,45.4,328.0,8.25,9.06,0.84,6.38,15.700000,3.120,10.49,3300
3,4,54.96,7.80,9.74,62.2,441.0,12.10,12.55,1.08,8.56,23.500000,3.980,13.94,4780
4,5,68.20,10.39,12.61,83.2,559.0,14.90,15.24,1.47,10.38,27.820000,5.020,16.87,5515
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
173,333,2260.14,400.99,411.39,3382.6,17316.0,401.44,358.33,62.46,277.61,864.339999,167.926,458.54,129962
174,336,2273.54,404.90,413.87,3405.6,17418.0,403.24,359.08,62.89,279.02,871.639999,168.626,460.10,130712
175,339,2286.81,409.18,416.13,3425.6,17538.0,404.83,359.77,63.32,280.37,881.839999,169.216,461.66,131547
176,342,2299.98,411.77,418.50,3445.6,17658.0,406.48,360.45,63.85,281.83,891.139999,169.816,463.28,132387
177,345,2314.11,415.87,421.24,3470.1,17754.0,408.53,361.21,64.41,283.18,900.339999,170.426,464.88,132947

In [124]:
df.describe()

,Wine,Alcohol,Malic.acid,Ash,Acl,Mg,Phenols,Flavanoids,Nonflavanoid.phenols,Proanth,Color.int,Hue,OD,Proline
count,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000
mean,1.938202,13.000618,2.336348,2.366517,19.494944,99.741573,2.295112,2.029270,0.361854,1.590899,5.058090,0.957449,2.611685,746.893258
std,0.775035,0.811827,1.117146,0.274344,3.339564,14.282484,0.625851,0.998859,0.124453,0.572359,2.318286,0.228572,0.709990,314.907474
min,1.000000,11.030000,0.740000,1.360000,10.600000,70.000000,0.980000,0.340000,0.130000,0.410000,1.280000,0.480000,1.270000,278.000000
25%,1.000000,12.362500,1.602500,2.210000,17.200000,88.000000,1.742500,1.205000,0.270000,1.250000,3.220000,0.782500,1.937500,500.500000
50%,2.000000,13.050000,1.865000,2.360000,19.500000,98.000000,2.355000,2.135000,0.340000,1.555000,4.690000,0.965000,2.780000,673.500000
75%,3.000000,13.677500,3.082500,2.557500,21.500000,107.000000,2.800000,2.875000,0.437500,1.950000,6.200000,1.120000,3.170000,985.000000
max,3.000000,14.830000,5.800000,3.230000,30.000000,162.000000,3.880000,5.080000,0.660000,3.580000,13.000000,1.710000,4.000000,1680.000000

In [125]:
df.columns

Index(['Wine', 'Alcohol', 'Malic.acid', 'Ash', 'Acl', 'Mg', 'Phenols',
       'Flavanoids', 'Nonflavanoid.phenols', 'Proanth', 'Color.int', 'Hue',
       'OD', 'Proline'],
      dtype='object')

In [126]:
df.head()

,Wine,Alcohol,Malic.acid,Ash,Acl,Mg,Phenols,Flavanoids,Nonflavanoid.phenols,Proanth,Color.int,Hue,OD,Proline
0,1,14.23,1.71,2.43,15.6,127.0,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065
1,1,13.20,1.78,2.14,11.2,100.0,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050
2,1,13.16,2.36,2.67,18.6,101.0,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185
3,1,14.37,1.95,2.50,16.8,113.0,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480
4,1,13.24,2.59,2.87,21.0,118.0,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735

In [131]:
df["Alcohol"].corr(df["Acl"])

-0.3102351368910852

In [133]:
df.corr()

,Wine,Alcohol,Malic.acid,Ash,Acl,Mg,Phenols,Flavanoids,Nonflavanoid.phenols,Proanth,Color.int,Hue,OD,Proline
Wine,1.000000,-0.328222,0.437776,-0.049643,0.517859,-0.209179,-0.719163,-0.847498,0.489109,-0.499130,0.265668,-0.617369,-0.788230,-0.633717
Alcohol,-0.328222,1.000000,0.094397,0.211545,-0.310235,0.270798,0.289101,0.236815,-0.155929,0.136698,0.546364,-0.071747,0.072343,0.643720
Malic.acid,0.437776,0.094397,1.000000,0.164045,0.288500,-0.054575,-0.335167,-0.411007,0.292977,-0.220746,0.248985,-0.561296,-0.368710,-0.192011
Ash,-0.049643,0.211545,0.164045,1.000000,0.443367,0.286587,0.128980,0.115077,0.186230,0.009652,0.258887,-0.074667,0.003911,0.223626
Acl,0.517859,-0.310235,0.288500,0.443367,1.000000,-0.083333,-0.321113,-0.351370,0.361922,-0.197327,0.018732,-0.273955,-0.276769,-0.440597
Mg,-0.209179,0.270798,-0.054575,0.286587,-0.083333,1.000000,0.214401,0.195784,-0.256294,0.236441,0.199950,0.055398,0.066004,0.393351
Phenols,-0.719163,0.289101,-0.335167,0.128980,-0.321113,0.214401,1.000000,0.864564,-0.449935,0.612413,-0.055136,0.433681,0.699949,0.498115
Flavanoids,-0.847498,0.236815,-0.411007,0.115077,-0.351370,0.195784,0.864564,1.000000,-0.537900,0.652692,-0.172379,0.543479,0.787194,0.494193
Nonflavanoid.phenols,0.489109,-0.155929,0.292977,0.186230,0.361922,-0.256294,-0.449935,-0.537900,1.000000,-0.365845,0.139057,-0.262640,-0.503270,-0.311385
Proanth,-0.499130,0.136698,-0.220746,0.009652,-0.197327,0.236441,0.612413,0.652692,-0.365845,1.000000,-0.025250,0.295544,0.519067,0.330417
Color.int,0.265668,0.546364,0.248985,0.258887,0.018732,0.199950,-0.055136,-0.172379,0.139057,-0.025250,1.000000,-0.521813,-0.428815,0.316100
Hue,-0.617369,-0.071747,-0.561296,-0.074667,-0.273955,0.055398,0.433681,0.543479,-0.262640,0.295544,-0.521813,1.000000,0.565468,0.236183
OD,-0.788230,0.072343,-0.368710,0.003911,-0.276769,0.066004,0.699949,0.787194,-0.503270,0.519067,-0.428815,0.565468,1.000000,0.312761
Proline,-0.633717,0.643720,-0.192011,0.223626,-0.440597,0.393351,0.498115,0.494193,-0.311385,0.330417,0.316100,0.236183,0.312761,1.000000

In [134]:
df.cov()

,Wine,Alcohol,Malic.acid,Ash,Acl,Mg,Phenols,Flavanoids,Nonflavanoid.phenols,Proanth,Color.int,Hue,OD,Proline
Wine,0.600679,-0.206515,0.379039,-0.010555,1.340364,-2.315495,-0.348835,-0.656091,0.047177,-0.221413,0.477339,-0.109368,-0.433737,-154.667651
Alcohol,-0.206515,0.659062,0.085611,0.047115,-0.841093,3.139878,0.146887,0.192033,-0.015754,0.063518,1.028283,-0.013313,0.041698,164.567185
Malic.acid,0.379039,0.085611,1.248015,0.050277,1.076332,-0.870780,-0.234338,-0.458630,0.040733,-0.141147,0.644838,-0.143326,-0.292447,-67.548867
Ash,-0.010555,0.047115,0.050277,0.075265,0.406208,1.122937,0.022146,0.031535,0.006358,0.001516,0.164654,-0.004682,0.000762,19.319739
Acl,1.340364,-0.841093,1.076332,0.406208,11.152686,-3.974760,-0.671149,-1.172083,0.150422,-0.377176,0.145024,-0.209118,-0.656234,-463.355345
Mg,-2.315495,3.139878,-0.870780,1.122937,-3.974760,203.989335,1.916470,2.793087,-0.455563,1.932832,6.620521,0.180851,0.669308,1769.158700
Phenols,-0.348835,0.146887,-0.234338,0.022146,-0.671149,1.916470,0.391690,0.540470,-0.035045,0.219373,-0.079998,0.062039,0.311021,98.171057
Flavanoids,-0.656091,0.192033,-0.458630,0.031535,-1.172083,2.793087,0.540470,0.997719,-0.066867,0.373148,-0.399169,0.124082,0.558262,155.447492
Nonflavanoid.phenols,0.047177,-0.015754,0.040733,0.006358,0.150422,-0.455563,-0.035045,-0.066867,0.015489,-0.026060,0.040121,-0.007471,-0.044469,-12.203586
Proanth,-0.221413,0.063518,-0.141147,0.001516,-0.377176,1.932832,0.219373,0.373148,-0.026060,0.327595,-0.033504,0.038665,0.210933,59.554334
Color.int,0.477339,1.028283,0.644838,0.164654,0.145024,6.620521,-0.079998,-0.399169,0.040121,-0.033504,5.374449,-0.276506,-0.705813,230.767480
Hue,-0.109368,-0.013313,-0.143326,-0.004682,-0.209118,0.180851,0.062039,0.124082,-0.007471,0.038665,-0.276506,0.052245,0.091766,17.000223
OD,-0.433737,0.041698,-0.292447,0.000762,-0.656234,0.669308,0.311021,0.558262,-0.044469,0.210933,-0.705813,0.091766,0.504086,69.927526
Proline,-154.667651,164.567185,-67.548867,19.319739,-463.355345,1769.158700,98.171057,155.447492,-12.203586,59.554334,230.767480,17.000223,69.927526,99166.717355

In [135]:
df.corrwith(df.Mg)

Wine                   -0.209179
Alcohol                 0.270798
Malic.acid             -0.054575
Ash                     0.286587
Acl                    -0.083333
Mg                      1.000000
Phenols                 0.214401
Flavanoids              0.195784
Nonflavanoid.phenols   -0.256294
Proanth                 0.236441
Color.int               0.199950
Hue                     0.055398
OD                      0.066004
Proline                 0.393351
dtype: float64

In [136]:
df["Wine"].unique()

array([1, 2, 3], dtype=int64)

In [137]:
df["Wine"].value_counts()

2    71
1    59
3    48
Name: Wine, dtype: int64

In [138]:
f=lambda x:x.max()-x.min()

In [139]:
df.apply(f)

Wine                       2.00
Alcohol                    3.80
Malic.acid                 5.06
Ash                        1.87
Acl                       19.40
Mg                        92.00
Phenols                    2.90
Flavanoids                 4.74
Nonflavanoid.phenols       0.53
Proanth                    3.17
Color.int                 11.72
Hue                        1.23
OD                         2.73
Proline                 1402.00
dtype: float64

In [141]:
df.apply(f,axis=1)

0      1064.72
1      1049.74
2      1184.70
3      1479.76
4       734.61
        ...
173     739.48
174     749.57
175     834.57
176     839.47
177     559.44
Length: 178, dtype: float64

In [142]:
def f(x):
    return x**2

In [143]:
df.apply(f)

,Wine,Alcohol,Malic.acid,Ash,Acl,Mg,Phenols,Flavanoids,Nonflavanoid.phenols,Proanth,Color.int,Hue,OD,Proline
0,1,202.4929,2.9241,5.9049,243.36,16129.0,7.8400,9.3636,0.0784,5.2441,31.8096,1.0816,15.3664,1134225
1,1,174.2400,3.1684,4.5796,125.44,10000.0,7.0225,7.6176,0.0676,1.6384,19.1844,1.1025,11.5600,1102500
2,1,173.1856,5.5696,7.1289,345.96,10201.0,7.8400,10.4976,0.0900,7.8961,32.2624,1.0609,10.0489,1404225
3,1,206.4969,3.8025,6.2500,282.24,12769.0,14.8225,12.1801,0.0576,4.7524,60.8400,0.7396,11.9025,2190400
4,1,175.2976,6.7081,8.2369,441.00,13924.0,7.8400,7.2361,0.1521,3.3124,18.6624,1.0816,8.5849,540225
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
173,9,187.9641,31.9225,6.0025,420.25,9025.0,2.8224,0.3721,0.2704,1.1236,59.2900,0.4096,3.0276,547600
174,9,179.5600,15.2881,6.1504,529.00,10404.0,3.2400,0.5625,0.1849,1.9881,53.2900,0.4900,2.4336,562500
175,9,176.0929,18.3184,5.1076,400.00,14400.0,2.5281,0.4761,0.1849,1.8225,104.0400,0.3481,2.4336,697225
176,9,173.4489,6.7081,5.6169,400.00,14400.0,2.7225,0.4624,0.2809,2.1316,86.4900,0.3600,2.6244,705600
177,9,199.6569,16.8100,7.5076,600.25,9216.0,4.2025,0.5776,0.3136,1.8225,84.6400,0.3721,2.5600,313600

In [144]:
df.dtypes

Wine                      int64
Alcohol                 float64
Malic.acid              float64
Ash                     float64
Acl                     float64
Mg                      float64
Phenols                 float64
Flavanoids              float64
Nonflavanoid.phenols    float64
Proanth                 float64
Color.int               float64
Hue                     float64
OD                      float64
Proline                   int64
dtype: object

In [170]:
df[["Wine","Alcohol"]].head()

   Wine  Alcohol
0     1    14.23
1     1    13.20
2     1    13.16
3     1    14.37
4     1    13.24

In [146]:
df.loc[0,:]

Wine                       1.00
Alcohol                   14.23
Malic.acid                 1.71
Ash                        2.43
Acl                       15.60
Mg                       127.00
Phenols                    2.80
Flavanoids                 3.06
Nonflavanoid.phenols       0.28
Proanth                    2.29
Color.int                  5.64
Hue                        1.04
OD                         3.92
Proline                 1065.00
Name: 0, dtype: float64

In [147]:
df.loc[[0,2,4]]

,Wine,Alcohol,Malic.acid,Ash,Acl,Mg,Phenols,Flavanoids,Nonflavanoid.phenols,Proanth,Color.int,Hue,OD,Proline
0,1,14.23,1.71,2.43,15.6,127.0,2.8,3.06,0.28,2.29,5.64,1.04,3.92,1065
2,1,13.16,2.36,2.67,18.6,101.0,2.8,3.24,0.30,2.81,5.68,1.03,3.17,1185
4,1,13.24,2.59,2.87,21.0,118.0,2.8,2.69,0.39,1.82,4.32,1.04,2.93,735

In [149]:
df.loc[0:2,]

,Wine,Alcohol,Malic.acid,Ash,Acl,Mg,Phenols,Flavanoids,Nonflavanoid.phenols,Proanth,Color.int,Hue,OD,Proline
0,1,14.23,1.71,2.43,15.6,127.0,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065
1,1,13.20,1.78,2.14,11.2,100.0,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050
2,1,13.16,2.36,2.67,18.6,101.0,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185

In [151]:
df.loc[0:5,"Wine":"Ash"]              #dslicing both rows and columns

   Wine  Alcohol  Malic.acid   Ash
0     1    14.23        1.71  2.43
1     1    13.20        1.78  2.14
2     1    13.16        2.36  2.67
3     1    14.37        1.95  2.50
4     1    13.24        2.59  2.87
5     1    14.20        1.76  2.45

In [153]:
df.loc[:,"Wine":"Phenols"].head()

   Wine  Alcohol  Malic.acid   Ash   Acl     Mg  Phenols
0     1    14.23        1.71  2.43  15.6  127.0     2.80
1     1    13.20        1.78  2.14  11.2  100.0     2.65
2     1    13.16        2.36  2.67  18.6  101.0     2.80
3     1    14.37        1.95  2.50  16.8  113.0     3.85
4     1    13.24        2.59  2.87  21.0  118.0     2.80

In [159]:
#You can filter using the loc method

df.loc[df.Wine==1,].head(15)

,Wine,Alcohol,Malic.acid,Ash,Acl,Mg,Phenols,Flavanoids,Nonflavanoid.phenols,Proanth,Color.int,Hue,OD,Proline
0,1,14.23,1.71,2.43,15.6,127.0,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065
1,1,13.20,1.78,2.14,11.2,100.0,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050
2,1,13.16,2.36,2.67,18.6,101.0,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185
3,1,14.37,1.95,2.50,16.8,113.0,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480
4,1,13.24,2.59,2.87,21.0,118.0,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735
5,1,14.20,1.76,2.45,15.2,112.0,3.27,3.39,0.34,1.97,6.75,1.05,2.85,1450
6,1,14.39,1.87,2.45,14.6,96.0,2.50,2.52,0.30,1.98,5.25,1.02,3.58,1290
7,1,14.06,2.15,2.61,17.6,121.0,2.60,2.51,0.31,1.25,5.05,1.06,3.58,1295
8,1,14.83,1.64,2.17,14.0,97.0,2.80,2.98,0.29,1.98,5.20,1.08,2.85,1045
9,1,13.86,1.35,2.27,16.0,98.0,2.98,3.15,0.22,1.85,7.22,1.01,3.55,1045
10,1,14.10,2.16,2.30,18.0,105.0,2.95,3.32,0.22,2.38,5.75,1.25,3.17,1510
11,1,14.12,1.48,2.32,16.8,95.0,2.20,2.43,0.26,1.57,5.00,1.17,2.82,1280
12,1,13.75,1.73,2.41,16.0,89.0,2.60,2.76,0.29,1.81,5.60,1.15,2.90,1320
13,1,14.75,1.73,2.39,11.4,91.0,3.10,3.69,0.43,2.81,5.40,1.25,2.73,1150
14,1,14.38,1.87,2.38,12.0,102.0,3.30,3.64,0.29,2.96,7.50,1.20,3.00,1547

In [160]:
#you want to filter columns in any row, then you write the column names after the comma. Notice that you have to write the column names in square brackets to select more than one column
df.loc[df.Phenols==2.20,["Proline","OD","Hue"]]

     Proline    OD   Hue
11      1280  2.82  1.17
81       714  3.14  1.16
84       520  3.08  0.79
85       450  3.16  1.23
89       625  3.21  1.07
104      672  3.57  1.04
122      365  3.12  0.92
152      425  1.33  0.61

In [161]:
"""The difference between the iloc method and the loc method is that the indexes of rows and columns are entered instead of labels."""
df.iloc[:,0].head()

0    1
1    1
2    1
3    1
4    1
Name: Wine, dtype: int64

In [163]:
df.iloc[:,[0,3]].head()

   Wine   Ash
0     1  2.43
1     1  2.14
2     1  2.67
3     1  2.50
4     1  2.87

In [164]:
df.iloc[:,0:3].head()

   Wine  Alcohol  Malic.acid
0     1    14.23        1.71
1     1    13.20        1.78
2     1    13.16        2.36
3     1    14.37        1.95
4     1    13.24        2.59

In [165]:
df.iloc[0,0:3]

Wine           1.00
Alcohol       14.23
Malic.acid     1.71
Name: 0, dtype: float64

In [166]:
df.loc[df.Alcohol>=13]

,Wine,Alcohol,Malic.acid,Ash,Acl,Mg,Phenols,Flavanoids,Nonflavanoid.phenols,Proanth,Color.int,Hue,OD,Proline
0,1,14.23,1.71,2.43,15.6,127.0,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065
1,1,13.20,1.78,2.14,11.2,100.0,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050
2,1,13.16,2.36,2.67,18.6,101.0,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185
3,1,14.37,1.95,2.50,16.8,113.0,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480
4,1,13.24,2.59,2.87,21.0,118.0,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
173,3,13.71,5.65,2.45,20.5,95.0,1.68,0.61,0.52,1.06,7.70,0.64,1.74,740
174,3,13.40,3.91,2.48,23.0,102.0,1.80,0.75,0.43,1.41,7.30,0.70,1.56,750
175,3,13.27,4.28,2.26,20.0,120.0,1.59,0.69,0.43,1.35,10.20,0.59,1.56,835
176,3,13.17,2.59,2.37,20.0,120.0,1.65,0.68,0.53,1.46,9.30,0.60,1.62,840
177,3,14.13,4.10,2.74,24.5,96.0,2.05,0.76,0.56,1.35,9.20,0.61,1.60,560

In [168]:
"""You can filter with more than one condition."""

df[(df.Alcohol>=12)|(df.Ash>=3)|(df.Phenols>=3)].head()

,Wine,Alcohol,Malic.acid,Ash,Acl,Mg,Phenols,Flavanoids,Nonflavanoid.phenols,Proanth,Color.int,Hue,OD,Proline
0,1,14.23,1.71,2.43,15.6,127.0,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065
1,1,13.20,1.78,2.14,11.2,100.0,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050
2,1,13.16,2.36,2.67,18.6,101.0,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185
3,1,14.37,1.95,2.50,16.8,113.0,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480
4,1,13.24,2.59,2.87,21.0,118.0,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735

In [169]:
"""You can do practical filtering with the isin method."""

df[df.Wine.isin([2,3])]

,Wine,Alcohol,Malic.acid,Ash,Acl,Mg,Phenols,Flavanoids,Nonflavanoid.phenols,Proanth,Color.int,Hue,OD,Proline
59,2,12.37,0.94,1.36,10.6,88.0,1.98,0.57,0.28,0.42,1.95,1.05,1.82,520
60,2,12.33,1.10,2.28,16.0,101.0,2.05,1.09,0.63,0.41,3.27,1.25,1.67,680
61,2,12.64,1.36,2.02,16.8,100.0,2.02,1.41,0.53,0.62,5.75,0.98,1.59,450
62,2,13.67,1.25,1.92,18.0,94.0,2.10,1.79,0.32,0.73,3.80,1.23,2.46,630
63,2,12.37,1.13,2.16,19.0,87.0,3.50,3.10,0.19,1.87,4.45,1.22,2.87,420
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
173,3,13.71,5.65,2.45,20.5,95.0,1.68,0.61,0.52,1.06,7.70,0.64,1.74,740
174,3,13.40,3.91,2.48,23.0,102.0,1.80,0.75,0.43,1.41,7.30,0.70,1.56,750
175,3,13.27,4.28,2.26,20.0,120.0,1.59,0.69,0.43,1.35,10.20,0.59,1.56,835
176,3,13.17,2.59,2.37,20.0,120.0,1.65,0.68,0.53,1.46,9.30,0.60,1.62,840
177,3,14.13,4.10,2.74,24.5,96.0,2.05,0.76,0.56,1.35,9.20,0.61,1.60,560